<div style="display: flex; justify-content: space-between">
  <div class="header-page-container">Employees</div>
</div>
<div style="margin: 5%">
  <mat-table
    #table
    [dataSource]="dataSource"
    class="table mat-elevation-z8"
    [ngStyle]="tableStyle"
    matSort
  >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
      <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let element">{{ element.dob }}</td>
    </ng-container>

    <!-- Contact Number Column -->
    <ng-container matColumnDef="contactNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</th>
      <td mat-cell *matCellDef="let element">
        {{ element.contactNumber }}
      </td>
    </ng-container>

    <!-- Actions Column (Optional) -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button>Edit</button>
        <button mat-button>Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
</div>

<!-- show progressing bar in case of it took too long to load data -->
<ng-container *ngIf="loadingInProgress">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<div>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[10, 20, 50, 100]"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [length]="totalRecords"
    (page)="pageChangeEvent($any($event))"
    showFirstLastButtons="true"
  ></mat-paginator>
</div>
